@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.sidebar {
    width: 200px;
    background-color: #13132B;
    color: #FFFFFF;
    height: 100vh;
    padding: 20px 20px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: flex-start; /* Aligns everything to the left */
}

.sidebar-user {
    display: flex;
    align-items: center;
    width: 100%;
}

.user-icon {
    font-size: 48px;
    margin-right: 10px;
    color: #6C63FF;
}

.user-info h3 {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    color: #FFFFFF;
    text-align: left; /* Left-align the username */
}

.user-info p {
    font-size: 10px;
    margin: 0;
    color: #ADB5BD;
    text-align: left; /* Left-align the email */
}

.sidebar-header {
    text-align: left; /* Align header to the left */
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    width: 100%;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.nav-item {
    margin: 10px 0;
}

.nav-link {
    color: #ADB5BD;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
    text-align: left; /* Align text to the left */
    transition: background 0.3s ease;
    font-size: 14px;
}

.nav-link:hover, .nav-link.active {
    background-color: #6C63FF;
    color: #FFFFFF;
    padding-left: 15px;
}

.sidebar-nav{
    width: 100%;
}

h2{
    margin-top: 20px;
    margin-bottom: 0px;
}