body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css or main CSS file */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #252525; /* Replace with your desired color */
}

.main {
  background-color: inherit; /* Inherits the background color from the body */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
